@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Outer-profile {
  margin-top: 20vh;
  width: 100%;
  margin-left:0%;
  position:absolute;
}

.MatterWorld {
  outline: none !important;
  overflow: hidden;
  position: absolute;
}

.Placeholder {
  opacity: 0;
}

.Profile-text {
  font-size: 4vw;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
}

.Profile-text-div {
  vertical-align: middle;
  display: inline-block;
  white-space: pre;
  position:relative;
  animation: showup 7s 1;
  padding-right: 2%;
  padding-left: 2%;
  border: 5px solid black;
}

.Profile-text-two {
  font-size: 2.4vw;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  animation: slidein 7s 1;
}

.Profile-two-div {
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  white-space: pre;
  width: 37%;
  position:relative;
  animation: reveal 7s 1;
  padding-left: 2%;
}

@keyframes slidein {
    0% { margin-left:-10%; }
    20% { margin-left:-10%; }
    35% { margin-left:0%; }
    100% { margin-left:0%; }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    40% {width:37%;}
    80% {opacity:1;}
    100% {opacity:1;width:37%;}
}

.fade-out {
  white-space: pre-wrap;
  position:absolute;
  opacity: 0;
  transition: opacity 1s ease;
}
