@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

img {
  margin-top: 10%;
  width: 50%;
  height: auto;
}

.Profile-text {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MatterWorld {
  outline: none !important;
  overflow: hidden;
  position: absolute;
}

#overlay {
  position: absolute;
}

.fade-in {
  position:absolute;
  transition: opacity 1s ease;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

.fade-out {
  position:absolute;
  opacity: 0;
  transition: opacity 1s ease;
}